{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    [
      {
        "sourceMap": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}